.dynamic-padding {
  padding: 1.5rem 3rem;
}

.signup-block {
  gap: 3rem;
}

.logout {
  display: flex;
  align-items: center;
  gap: 5px;
  //padding: 5px 15px;
  border: none;
  background: transparent;
  font-size: 15px;
}

.logo {
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
}

.signup {
  padding: 4px 12px;
  box-shadow: 0 0 3px var(--accent);
  border-radius: 8px;
  border: 2px solid var(--accent);
  background: transparent;
  font-size: 13px;
}
