<div style="min-height: calc(100vh - 56px); width: 100vw">
  <app-header [currentUser]="currentUser" (openModel)="openModal(signupModal)"></app-header>
  <div class="dynamic-padding position-relative pt-5 pb-5">
    <div class="timer-block">
      <app-timer [workMin]="25" [shortBreakMin]="5" [longBreakMin]="20" [rounds]="4">
      </app-timer>
    </div>
    <div class="task-block">
      <div class="task d-flex justify-content-between align-items-center p-3">
        <div
          class="checkbox"
          (click)="checked = !checked"
          [style.background]="checked ? 'rgba(139,139,139,0.15)' : '#ffffff'"
        ></div>
        <div class="info d-flex flex-column">
          <p
            class="task-title"
            [style.text-decoration]="checked ? 'line-through' : 'none'"
          >
            Sign up to track your to-do list
          </p>
          <p class="task-undertext">4 rounds &nbsp;&nbsp; 5/1/10 min</p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <p>
    Copyright © 2023 Vidlik. All rights reserved.
    <br/>
    <span>developed by Anastasiia Dementyeva</span>
  </p>
</footer>

<ng-template #signupModal let-modal>
  <div class="login-modal">
    <div class="card-header px-5 pt-4">
      <div class="card-heading">Sign Up</div>
    </div>
    <div class="card-body p-4">
      <form
        class="needs-validation"
        [formGroup]="userForm"
        (ngSubmit)="onSubmit('register')"
      >
        <div class="form-floating mb-3">
          <input
            class="form-control"
            formControlName="firstName"
            type="text"
            placeholder="First name"
            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
            required
          />
          <label>First Name</label>
        </div>
        <div class="form-floating mb-3">
          <input
            class="form-control"
            formControlName="lastName"
            type="text"
            placeholder="Last name"
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
            required
          />
          <label>Last Name</label>
        </div>
        <div class="form-floating mb-3">
          <input
            class="form-control"
            formControlName="email"
            type="email"
            placeholder="name@example.com"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            required
          />
          <label>Email</label>
          <p
            class="invalid-feedback"
            *ngIf="f.email.errors && f.email.errors.email"
          >
            Email must be valid
          </p>
        </div>
        <div class="form-floating mb-3">
          <input
            class="form-control"
            type="password"
            formControlName="password"
            placeholder="Password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            required
          />
          <label>Password</label>
          <p
            class="invalid-feedback"
            *ngIf="f.password.errors && f.password.errors.minlength"
          >
            Password must be at least 6 characters long
            <br/>
          </p>
          <p
            class="invalid-feedback"
            *ngIf="f.password.errors && f.password.errors.pattern"
          >
            Your password must contain at least one uppercase, one lowercase,
            and one number
          </p>
        </div>
        <h6
          *ngIf="!!errorMessage"
          style="font-size: 12px; text-align: center; color: var(--error)"
        >
          {{ errorMessage }}
        </h6>
        <button class="btn mt-4" type="submit">Submit</button>
      </form>
      <h6
        style="
            font-size: 12px;
            padding-top: 1rem;
            text-align: right;
            color: rgba(20, 20, 20, 0.5);
          "
      >
        Already have an account?
        <span
          style="color: rgba(20, 20, 20, 0.8); cursor: pointer"
          id="loginbtn"
          (click)="changeModal(loginModal, modal)"
        >Log in</span
        >
      </h6>
    </div>
  </div>
</ng-template>

<ng-template #loginModal let-modal>
  <div class="login-modal">
    <ng-container *ngIf="!!successMessage">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        style="
          stroke: #141414;
          fill: none;
          height: 100px;
          width: 100px;
        "
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-check center-element"
      >
        <polyline points="20 6 9 17 4 12"/>
      </svg>
    </ng-container>
    <ng-container *ngIf="!successMessage">
      <div class="card-header px-5 pt-4">
        <div class="card-heading">Log In</div>
      </div>
      <div class="card-body p-4 pt-0">
        <div
          class="d-flex justify-content-evenly align-items-center my-4 google-block"
        >
          <img
            class="google-img"
            width="20"
            height="20"
            ngSrc="https://img.icons8.com/color/48/google-logo.png"
            alt="google-logo"
          />
          <asl-google-signin-button
            style="opacity: 0"
            id="googleLogin"
          ></asl-google-signin-button>
          <h6 style="font-size: 12px; color: #141414">Continue with Google</h6>
        </div>
        <h1
          style="
            font-size: 12px;
            color: rgba(20, 20, 20, 0.5);
            width: 100%;
            text-align: center;
            margin: 20px 0;
          "
        >
          or
        </h1>
        <form
          class="needs-validation"
          [formGroup]="userForm"
          (ngSubmit)="onSubmit('login')"
        >
          <div class="form-floating mb-3">
            <input
              class="form-control"
              formControlName="email"
              type="email"
              placeholder="name@example.com"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              required
            />
            <label>Email</label>
          </div>
          <div class="form-floating mb-3">
            <input
              class="form-control"
              type="password"
              formControlName="password"
              placeholder="Password"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              required
            />
            <label>Password</label>
          </div>
          <h6
            *ngIf="!!errorMessage"
            style="font-size: 12px; text-align: center; color: var(--error)"
          >
            {{ errorMessage }}
          </h6>
          <button class="btn mt-4" type="submit">Submit</button>
        </form>
        <h6
          style="
            font-size: 12px;
            padding-top: 1rem;
            text-align: right;
            color: rgba(20, 20, 20, 0.5);
          "
        >
          Don't have an account?
          <span
            style="color: rgba(20, 20, 20, 0.8); cursor: pointer"
            (click)="changeModal(signupModal, modal)"
          >Sign Up</span
          >
        </h6>
      </div>
    </ng-container>
  </div>
</ng-template>

<ngx-spinner bdColor="var(--text-pale-color)" size="default" color="var(--text-color)" type="ball-8bits"
             [fullScreen]="true"></ngx-spinner>
