.main-block {
  .shuffle-title {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
  }

  .underline {
    position: absolute;
    right: 18px;
    height: 2px;
    bottom: 4px;
    width: 107px;
    background: var(--accent);
  }

  .arrow {
    position: absolute;
    right: -30px;
    opacity: 0;
    transition: all 0.3s;
    cursor: pointer;
  }

  .undertext {
    width: 362px;
    text-align: center;
    margin: 30px auto;
  }

  .maintext-block:hover .arrow {
    opacity: 1;
  }
}


@media (max-width: 480px) {
  .main-block {
    .underline {
      left: 0;
    }
    .arrow {
      right: 0;
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .main-block {
    .underline {
      left: 0;
    }
    .arrow {
      right: 0;
    }
  }
}

@media (min-width: 769px) and (max-width: 863px) {
  .main-block {
    .underline {
      left: 0;
    }
    .arrow {
      right: 0;
    }
  }
}

@media (min-width: 864px) and (max-width: 1023px) {

}

@media (min-width: 1440px) {

}
