.time {
  display: flex;
  padding: 12px;
  border-radius: 50%;
  background-color: var(--bg-color);
  box-shadow: 0 10px 10px -5px rgb(139 139 139 / 50%);
  width: 180px;
  height: 180px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  font-family: 'JetBrains Mono', monospace;
}

.gauge {
  background: conic-gradient(var(--accent) 0deg, rgb(204 204 204 / 20%) 0deg);
  border-radius: 50%;
  z-index: -1;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -10px;
  right: -10px;
}

.controls {
  p {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'JetBrains Mono', monospace;
  }

  svg {
    transition: all 0.5s;
    cursor: pointer;
  }
}
