* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'JetBrains Mono', monospace;
}

p {
  font-family: 'Inter', sans-serif;
}

body {
  overflow-x: hidden;
  background: var(--bg-color);
}

:root {
  --bg-color: #ffffff;
  --text-color: #141414;
  --text-pale-color: rgba(20, 20, 20, 0.3);
  --footer-color: rgb(242 242 242 / 80%);
  --hover-color: #f2f2f2;
  --error: #dc3545;
  --accent: #d4ff3e;
}

[data-theme='dark'] {
  --bg-color: #141414;
  --text-color: #ffffff;
  --text-pale-color: rgb(139 139 139 / 50%);
  --footer-color: rgb(255 255 255 / 1%);
  --hover-color: #2c2c2c;
}

::-webkit-scrollbar {
  width: 6px;
  /*width: 0;*/
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 50%);
  border-radius: 9999px;
}

mat-error {
  font-size: 12px;
}

.footer {
  text-align: center;
  padding: 10px;
  background: var(--footer-color);
  font-size: 12px;

  p {
    color: var(--text-color);
    opacity: 0.5;
    margin: 0;
  }
}

.center-element {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.theme-toggle {
  position: absolute;
  height: 96px;
  right: 10%;
  display: flex;
  align-items: center;
  z-index: 2;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 39px;
  height: 23px;
  margin: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: 0.5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 50%;
  left: 3px;
  bottom: 3px;
  box-shadow: inset 5px -2px 0px 0px #0056b9;
  transition: 0.5s;
}

input:checked + .slider {
  background-color: #ffffff;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #ffd800;
}
